<?xml version="1.0" encoding="utf-8"?>
<html>

    <head>
        <title>
            Release Dashboard
        </title>
        <style>{{ style }}</style>
    </head>

    <body>
        <h1>
            Release Dashboard
        </h1>
	<p>Review known and fixed issues for a given product and fix version.</p>
        Product:
         <select id="product">
            <option value="s3c">S3 Connector</option>
            <option value="zenko">Zenko</option>
	    <option value="ring">RING</option>
        </select>
        Version:
        <input type="text", id="version">
        <button id="fetchIssues">Get Issues</button>
        <button id="renderNotesHTML">Generate Release Notes HTML</button>
        <button id="renderNotesPDF">Generate Release Notes PDF</button>

        <div id="issues"></div>


        <script>
            function reqListener () {
                console.log(this.responseText);
                document.getElementById("issues").innerHTML = this.responseText;
            }

            function fetchIssues() {
                const project = document.getElementById("product").value;
                const version = document.getElementById("version").value;
                const oReq = new XMLHttpRequest();
                oReq.addEventListener("load", reqListener);
                oReq.open("GET", `/_/issues?product=${project}&version=${version}`);
                oReq.send();
            }

            function downloadFile() {
                const blob = this.response;
                const fileName = this.getResponseHeader("fileName") //if you have the fileName header available
                const link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                link.download=fileName;
                link.click();
            }

            function openInNewTab(url) {
                var win = window.open(url, '_blank');
                win.focus();
            }

            function renderNotes(format) {
                const project = document.getElementById("product").value;
                const version = document.getElementById("version").value;
                openInNewTab(`/_/render?product=${project}&version=${version}&format=${format}`);
            }

            document.getElementById("fetchIssues").addEventListener("click", fetchIssues);
            document.getElementById("renderNotesHTML").addEventListener("click", () => renderNotes('html'));
            document.getElementById("renderNotesPDF").addEventListener("click", () => renderNotes('pdf'));

        </script>
    </body>
</html>
