<?xml version="1.0" encoding="utf-8"?>
<html>

    <head>
        <title>
            Release Notes
        </title>
        <style>{{ style }}</style>
    </head>

    <body>
        <h1>
            Release Notes
        </h1>

        {{ introduction }}

        {{ dependencies }}

        {{ known_issues }}

        {{ fixed_issues }}
    </body>
</html>
