<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="311" MadCap:lastWidth="648">

<head> </head>

<body>
    <h2 MadCap:autonum="1.1 &#160;">Fixed Issues</h2>
    <table style="mc-table-style: url('Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
        <thead>
            <tr>
                <td>Key</td>
                <td>Severity</td>
                <td>Component(s)</td>
                <td>Description</td>
            </tr>
        </thead>

        {% for item in notes %}
        <tr>
            <td>{{ item.key }}</td> <!--Key-->
            <td>{{ item.severity }}</td> <!--Severity-->
            <!--Components-->
            <td>&#160;</td>
            <td>
                <p>
                    {{ item.components|join(' ') }}
                    &#160;
                </p>
            </td>
            <td>{{ item.description }}</td> <!--description-->
        </tr>
        {% endfor %}

    </table>
</body>

</html>
