{% if ctx.tickets %}
{% if ctx.product.name == 'RING'%}
<h2>{{ ctx.feature_type }} for {{ ctx.product.name }} {{ ctx.product.version }}/S3 Connector {{ ctx.product.s3c_version }}</h2>
{% else %}
<h2>{{ ctx.feature_type }} for {{ ctx.product.name }} {{ ctx.product.version }}</h2>
{% endif %}

{{ ctx.product.name }} introduces the following new features in release {{ ctx.product.version }}.

{% for item in ctx.tickets %}
<h3><a target="_blank" href="https://scality.atlassian.net/browse/{{ item.key }}">{{ item.key }}</a> {{ item.title }}</h3>
<p>
    {{ item.description }}
</p>
{% endfor %}
{% endif %}
