{% if ctx.tickets %}
<h2>{{ ctx.feature_type }} for {{ ctx.product.name }} Version {{ ctx.product.version }}</h2>

{{ ctx.product.name }} introduces the following new features in release {{ ctx.product.version }}.

{% for item in ctx.tickets %}
<h3><a target="_blank" href="https://scality.atlassian.net/browse/{{ item.key }}">{{ item.key }}</a> {{ item.title }}</h3>
{{ item.description }}
{% endfor %}
{% endif %}
