<h3>{{ ctx.issue_type }} Issues</h3>
{% if ctx.tickets %}
<table>
    <thead>
        <tr>
            <td width=110px>Key</td>
            <td width=80px>Severity</td>
            <td>Component(s)</td>
            <td>Description</td>
        </tr>
    </thead>

    {% for item in ctx.tickets %}
    <tr>
        <td><a href="https://scality.atlassian.net/browse/{{ item.key }}">{{ item.key }}</td>
        <td>{{ item.severity }}</td>
        <td>
            <p>{{ item.components|join(' ') }}</p>
        </td>
        <td>{{ item.description }}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
No {{ ctx.issue_type }} Issues
{% endif %}
