<h2>{{ ctx.issue_type }} {% if ctx.issue_type != 'Improvements' %}Issues{% endif %}</h2>
{% if ctx.tickets %}
<table>
    <thead>
        <tr>
            <td>Key</td>
            <td>Severity</td>
            <td>Component(s)</td>
            <td>Description</td>
        </tr>
    </thead>

    {% for item in ctx.tickets %}
    <tr>
        <td class="nowrap"><p><a target="_blank" href="https://scality.atlassian.net/browse/{{ item.key }}">{{ item.key }}</p></td>
        <td><p>{{ item.severity }}</p></td>
        <td><p>{{ item.components|join(' ') }}</p></td>
        <td style="width=100"><p>{{ item.description }}</p></td>
    </tr>
    {% endfor %}

</table>
{% else %}
No {{ ctx.issue_type }} Issues
{% endif %}
