@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6, caption {
    font-family: Oswald, "Arial Narrow", "Helvetica Narrow", sans-serif;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px 0px;
    padding: 3px 0 3px 0px;
}

h2 {
    font-size: 1.3em;
    font-family: 'Oswald SemiBold';
    margin-bottom: 2%;
}

h3 {
    font-size: 1.1em;
    font-family: 'Oswald SemiBold';
    padding-left: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}

h4 {
    font-size: 1em;
    font-family: 'Oswald SemiBold';
}

h5 {
    font-style: italic;
    font-family: 'Oswald SemiBold';
}

h6 {
    font-variant: small-caps;
    font-family: 'Oswald SemiBold';
}

/*
 * Body
*/
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

div.wrapper {
    padding: 0px 40px 20px 40px;
}

div.wrapper > p {
    padding: 0px 45px;
}

body li {
    text-align: left;
    margin-left: 1em;
}

/*
 * Tables
 */
table, th, tr, td {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: auto;
}

td {
    vertical-align: top;
    padding: 2px 15px;
}

td.nowrap {
    white-space: nowrap;
}

table thead {
    background-color: #eaeaea;
    font-weight: bold;
}

/*
 * Links
 */
a:visited {
color: #ff9b3b;
text-decoration: none;
}

a {
color: #f54f29;
text-decoration: none;
}

/*
 Footer
 */
div.footer {
    grid-area: footer;
    width: auto;
    padding: 20px;
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
}

div.footer div.rightwrapper {
    display: flex;
    flex-grow: 1;
    padding-right: 15px;
    justify-content: flex-end;
    align-items: center;
}

div.footer div.leftwrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer{
    margin-top: 5%
}

div.footer div.rightwrapper img.social {
    margin: auto 12px;
    width: 25%;
}

div.footer a, div.footer a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

/*
 * Logos
 */
.logo {
    width: 23%;
    margin-bottom: 7%;
}

.hlogo {
    width: 100%;

}

.headlogo {
    width: 12%;
    height: 12%;
}
