/*
 * Headings
 */
h1, h2, h3, h4, h5, h6, caption {
    font-family: "Oswald", "Arial Narrow", "Helvetica Narrow", sans-serif;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px 0px;
    padding: 3px 0 3px 0px;
}

h1 {
    padding-top: 20px;
    color: orangered;
}

h2 {
    font-size: 1.3em;
    font-family: 'Oswald';
    margin-bottom: 2%;
}

h3 {
    font-size: 1.1em;
    font-family: 'Oswald';
    padding-left: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}

h4 {
    font-size: 1em;
    font-family: 'Oswald';
}

h5 {
    font-style: italic;
    font-family: 'Oswald';
}

h6 {
    font-variant: small-caps;
    font-family: 'Oswald';
}

caption {
    text-align: left;
}

/*
 * header
 */

div.title {
    font-size: 4em;
    font-family: 'Oswald';
    color: orangered;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*
 * Body
*/
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
/*    margin-left: 10px */
}

code {
    font-family: Courier, "Courier New", "Cousine", "Liberation Mono", monospace;
}

div.wrapper {
    padding: 0px 40px 20px 40px;
}

div.wrapper > p {
    padding: 0px;
}

body li {
    text-align: left;
    margin-left: 1em;
}

div.textbox {
    border: 3px solid gray;
    padding: 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*
 * Tables
 */
table, th, tr, td {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: auto;
}

td {
    vertical-align: top;
    padding: 3px;
}

td.nowrap {
    white-space: nowrap;
}

table thead {
    background-color: #eaeaea;
    font-weight: bold;
}
/*
table.hline definition
*/

table.hline {
    border: none;
    margin-left: 1%;    
}

table.hline tr {
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
}

table.hline tr:first-child {
    border-top: none;
}

table.hline tr:last-child {
    border-bottom: none;
}

table.hline td {
    border: none;
}

/*
 * Links
 */

a:visited {
color: #ff9b3b;
text-decoration: none;
}

a {
color: #f54f29;
text-decoration: none;
}

/*
 Footer
 */
footer{
    margin-top: 5%
}

div.footer {
    width: auto;
    padding: 15px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: left;
}

div.footer a, div.footer a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

div.footer div.baselogo {
    float: left;
}       

div.footer div.links {
/*    display: inline-block;
    width: 50%; */
    text-align: right;
    margin-top: 15px;
    vertical-align: top;
}

div.footer div.social {
    text-align: center;
}

div.footer div.social img {
    margin: auto 12px;
    height: 25px;
}


/* div.footer div.rightwrapper {
    display: flex;
    flex-grow: 1;
    padding-right: 15px;
    justify-content: flex-end;
    align-items: center;
}

div.footer div.leftwrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


div.footer div.rightwrapper img.social {
    margin: auto 12px;
    width: 25%;
} */


/*
 * Logos
 */
.logo {
    width: 250px;
    margin-bottom: 16pt;
}

.hlogo {
    width: 100%;

}

.headlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

/* Complex Selectors */

td p {
    margin-block-start: 0em;
    margin-block-end: 3px;
}

h3 ~ p {
    margin-left: 1%;
} 
