@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* HEADINGS */

h1, h2, h3, h4, h5, h6, caption {
    font-family: Oswald, "Arial Narrow", "Helvetica Narrow", sans-serif;
    background-color: #FFFFFF;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px 0px;
    padding: 3px 0 3px 0px;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    font-family: Oswald, "Arial Narrow", "Helvetica Narrow", sans-serif;
    background-color: #FFFFFF;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 20px 100px 10px 100px;
    padding: 3px 0 3px 0px;
}

div.body h1 {
    font-size: 222%;
}

h2
  {
    font-size: 16pt;
    font-family: 'Oswald SemiBold';
  }

h3
  {
    font-size: 14pt;
    font-family: 'Oswald SemiBold';
  }

h4
  {
    font-size: 1em;
    font-family: 'Oswald SemiBold';
  }

h5
  {
    font-style: italic;
    font-family: 'Oswald SemiBold';
  }

h6
  {
    font-variant: small-caps;
    font-family: 'Oswald SemiBold';
  }


/* BODY */

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

div.highlight {
    background-color: #E6E6E6;
}

.highlight {
    background-color: #E6E6E6;
}

/* Padding at the top */
div.body {
    margin-top: 0px;
    padding: 34px 40px 20px 40px;
}

/* Link Colors */

a:visited {
    color: #ff9b3b;
    text-decoration: none;
}

a {
    color: #f54f29;
    text-decoration: none;
}

div.body p {
    text-align: left;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%
}

a.reference-internal
  {
    color: '#FFFFFF'
  }

code {
    font-family: Courier, "Courier New", monospace;
    font-size: 90%;
    background-color: inherit;
}

/* TABLES */

table, th, tr, td {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    border-collapse: collapse;
    border: 1px solid black;
    padding-left: 1%;
    padding-right: 1%
    
}

tr {
    text-align: left;
}

td {
    vertical-align: top;
} 
    
/* Change the table header color to be gray */

table thead {
    background-color: #eaeaea;
    font-weight: bold;
}

th {
    font-weight: bold;
    vertical-align: bottom;
    background-color: #f2f2f2;
}

table.footnote td, table.footnote th {
    border: 0 !important;
}

table.citation {
    border-left: solid 1px gray;
    margin-left: 1px;
}

/* Related items */

div.related {
    background-color: #201921;
    line-height: 50px;
    color: #FFFFFF;
}

div.related li {
    display: none;
}

div.document {
    background-color: #201921;
    margin: 0px auto 0 auto;
    width: 1180px;
}

/* ADMONITIONS */

p.admonition-title
  {
    font-family: 'Oswald';
    display: inline;
  }

/* Changes color of warning note box */
div.warning {
    background-color: #ff9b3b;
    border: 1px solid #e55529;
}

div.admonition.warning a:visited {
    color: #3F5952;
    text-decoration: none;
}

/* Changes color of note admonition box */
div.note {
    background-color: #eeeeff;
    border: 1px solid #aeaee2;
}

/* Changes color of important note box */
div.important {
    background-color: #ffffe0;
    border: 1px solid #ffdc50;
}

/* Changes the color of the Tip admonition box */
div.tip {
    background-color: #eeffee;
    border: 1px solid #93d893;
}


/* Footer */

footer{
    margin-top: 5%
}
div.footer div.leftwrapper {

    margin: 1% 8% 0 7%;
}


.logo {
    width: 23%;
    margin-bottom: 7%;
}

.hlogo {
    width: 100%;
    
}
.headlogo {
 
    margin:2% 0 0% 4%;
    width: 12%;
    float: left
    
}



    .headnav {
    margin: 3.2% 5% 3% 5%;
    float: left;
    text-align: left;
}


div.footer div.rightwrapper {
    display: flex;
    flex-grow: 1;
    padding-right: 15px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
    padding-top: 2%;
}


div.footer div.rightwrapper img.social {
    margin: auto 12px;
    width: 42%;
}

div.footer {
    grid-area: footer;
    width: auto;
    padding: 20px;
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
}

div.footer a, div.footer a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

div.footer div.leftwrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.footer div.links {
    font-size: 1em;
    margin-top: -10px;
    margin-bottom: 5%;
}

div.footer div.rightwrapper {
    display: flex;
    flex-grow: 1;
    padding-right: 15px;
    justify-content: flex-end;
    align-items: center;
}

div.footer div.rightwrapper img.social {
    margin: auto 15px;
    width: 25%;
}

.term {
    color: #F37533;
    font-weight: bold;
}

/* LISTS */

div.body dd
  {
    text-align: left;
  }
  
div.body li
  {
    text-align: left;
    margin-left: 1em;
  }

/* MISC. BLOCK ELEMENTS */

div.body blockquote
  {
    text-align: left;
  }

pre
  {   font-size: 90%;
      font-family: Courier, "Courier New", monospace ; 
/*      margin-left: 18pt; */
      margin-top: 0pt;
      color: '#000000';
      background-color: '#F2F2F2';
      border-bottom: none;      
      border-top: none;
      border-left: none;
      border-right: none;
  }

}

/* IMAGES */

img
  {
    align: center
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }


img.FiftyPercent
  {
    max-width: 50%;
  }


img.OneHundredPercent
  {
    max-width: 100%;
/*    padding-left: 10px; */
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;*/
  }

img.SeventyFivePercent
  {
    align: center;
    max-width: 75%;
  /*      padding-left: 10px; */
      padding-right: 10px;
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;*/
    }

div.footer
  {
    background-color: #201921;
  }

/* COMPLEX SELECTORS */
/* keep these late in the stylesheet */

td ul {
   margin-left: 1em;
}

td ul li
{
    margin-left: 1em;
}

td pre {
    border: none;
    valign: top;
    background-color: e6e6e6;
    margin-top: 0;
}

table.docutils td, table.docutils th {
    border-top: 1px solid #aaa;
}

ol ol {
    list-style-type: lower-alpha;
}

